@model IEnumerable<ImageResizeWebApp.Models.UploadHistory>
@{
    Layout = "_Layout";
}
    
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body >
        <table class="table" style="width:90%" align="center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.URL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.date)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Html.DisplayFor(modelItem => item.URL)" target="_blank">@Html.DisplayFor(modelItem => item.URL)</A>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
